
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVelp</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script src="../static/js/api.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?libraries=localContext& v=beta&key=AIzaSyBt5Lfhuje_b-vNxcIEbkOvaRrhoP-M6pE&callback=initMap"></script>
  </body>
</html>
