
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVelp</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>

    <div class="header row" id="row-1">
      <div class="col-12">
        <h1>This is the Name of our Project!!<h1/>
      </div>
    </div>

    <!--The div element for the map -->
    <div id="map"></div>


    <script src="../static/js/api.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5Lfhuje_b-vNxcIEbkOvaRrhoP-M6pE&callback=initMap"></script>
  </body>
</html>
